# SPDX-License-Identifier: MPL-2.0
# Lightweight by default. Heavy environments are opt-in.

if has asdf; then
  use asdf
fi

export PROJECT_NAME="snifs"
export RSR_TIER="infrastructure"

dotenv_if_exists

if has guix && [ -f guix.scm ] && [ "${USE_GUIX:-0}" = "1" ]; then
  use guix
fi

if has nix && [ -f flake.nix ] && [ "${USE_FLAKE:-0}" = "1" ]; then
  use flake
fi
